@use "../../../partials/globals";

.ctaCaseStudy {
  background-color: #cfffe6;
  padding: 40px 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;

  h4 {
    font-size: 40px;
    margin-bottom: 14px !important;
    font-weight: 600;
    span {
      font-weight: 800;
      @include globals.text_gradient_variant_3;
    }
  }
  p {
    font-size: 18px;
  }
}
