@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container.sec-padding {
  padding: 80px 40px;
}
@media all and (max-width: 1200px) {
  .container.sec-padding {
    padding: 70px 30px;
  }
}
@media all and (max-width: 578px) {
  .container.sec-padding {
    padding: 70px 14px;
  }
}

.primary_btn {
  display: inline-block;
  padding: 16px 24px;
  background: linear-gradient(122deg, #315046 0%, #50d387 180%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.CaseStudyIndividualPage.sec-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.CaseStudyIndividualPage .right-col {
  position: sticky;
  top: 10%;
  height: 100%;
}
.CaseStudyIndividualPage .right-col::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -15%;
  background-color: rgba(0, 0, 0, 0.089);
  height: 120%;
  width: 1px;
}
.CaseStudyIndividualPage .content_wrapper .author-n-date {
  display: flex;
  margin-bottom: 60px;
  font-size: 14px;
  color: rgb(63, 63, 63);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.CaseStudyIndividualPage .content_wrapper .author-n-date svg {
  width: 12px;
  margin: 0 10px;
  color: #50d387;
}
.CaseStudyIndividualPage .content_wrapper .author-n-date svg:first-child {
  margin-left: 0;
}
.CaseStudyIndividualPage .content_wrapper {
  /* Responsive */
}
.CaseStudyIndividualPage .content_wrapper h1 {
  font-size: 2.4rem;
  margin-bottom: 30px !important;
  color: #315046;
  font-weight: 700;
}
.CaseStudyIndividualPage .content_wrapper h2,
.CaseStudyIndividualPage .content_wrapper h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px !important;
  width: fit-content;
}
.CaseStudyIndividualPage .content_wrapper h4,
.CaseStudyIndividualPage .content_wrapper h5,
.CaseStudyIndividualPage .content_wrapper h6 {
  margin-bottom: 30px !important;
}
.CaseStudyIndividualPage .content_wrapper h2::before,
.CaseStudyIndividualPage .content_wrapper h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #ffffff 0%, #41b97b 100%);
}
.CaseStudyIndividualPage .content_wrapper img {
  max-width: 100%;
  min-width: 200px;
  height: 100% !important;
  max-height: 600px;
  object-fit: contain;
  object-position: left;
  padding: 16px 0;
}
@media all and (max-width: 576px) {
  .CaseStudyIndividualPage .content_wrapper img {
    max-width: 120%;
  }
}
.CaseStudyIndividualPage .content_wrapper .wp-block-quote {
  padding: 10px;
}
.CaseStudyIndividualPage .content_wrapper .wp-block-quote p {
  font-size: 32px;
  font-style: italic;
}
@media all and (max-width: 768px) {
  .CaseStudyIndividualPage .content_wrapper .wp-block-quote p {
    font-size: 24px;
  }
}
.CaseStudyIndividualPage .content_wrapper .wp-block-embed__wrapper iframe {
  width: 100%;
  min-height: 450px;
}
.CaseStudyIndividualPage .content_wrapper .wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
@media all and (max-width: 576px) {
  .CaseStudyIndividualPage .content_wrapper .wp-block-gallery {
    justify-content: center;
  }
}
.CaseStudyIndividualPage .content_wrapper .wp-block-gallery figure {
  margin: 5px;
}
.CaseStudyIndividualPage .content_wrapper p {
  margin-top: 10px;
  margin-bottom: 1em;
  line-height: 150%;
  margin-left: 0;
  margin-right: 0;
}
.CaseStudyIndividualPage .content_wrapper .wp-block-button a:first-child {
  transition: transform 0.3s ease;
}
.CaseStudyIndividualPage .content_wrapper h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 28px;
}
.CaseStudyIndividualPage .content_wrapper h2 strong {
  font-weight: 900;
}
.CaseStudyIndividualPage .content_wrapper h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 22px;
}
.CaseStudyIndividualPage .content_wrapper h3 strong {
  font-weight: 900;
}
.CaseStudyIndividualPage .content_wrapper ol {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
.CaseStudyIndividualPage .content_wrapper pre {
  margin: 1em 0;
}
.CaseStudyIndividualPage .content_wrapper ul {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 40px;
}
.CaseStudyIndividualPage .content_wrapper blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
.CaseStudyIndividualPage .content_wrapper dd {
  margin-left: 40px;
}
.CaseStudyIndividualPage .content_wrapper dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.CaseStudyIndividualPage .content_wrapper fieldset {
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.CaseStudyIndividualPage .content_wrapper figure {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
.CaseStudyIndividualPage .content_wrapper h2 {
  margin-top: 0.83em;
  margin-bottom: 0;
}
.CaseStudyIndividualPage .content_wrapper h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.CaseStudyIndividualPage .content_wrapper h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
.CaseStudyIndividualPage .content_wrapper h5 {
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
.CaseStudyIndividualPage .content_wrapper h6 {
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}
.CaseStudyIndividualPage .content_wrapper hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
.CaseStudyIndividualPage .content_wrapper video {
  max-width: 80%;
  max-height: 400px;
  width: 600px;
  margin: 0;
  border: 1px solid #ccc;
  /* Add a border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
  margin-left: -40px;
  /* Add a subtle shadow */
}
@media all and (max-width: 576px) {
  .CaseStudyIndividualPage .content_wrapper video {
    max-width: 120%;
  }
}
.CaseStudyIndividualPage .content_wrapper iframe {
  max-width: 100%;
  margin: 0;
}
.CaseStudyIndividualPage .content_wrapper table {
  border-radius: 15px;
  border-collapse: separate;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border: 1px solid #003323;
  border-bottom: none !important;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.CaseStudyIndividualPage .content_wrapper figure.wp-block-table {
  margin: 0 !important;
}
.CaseStudyIndividualPage .content_wrapper table td,
.CaseStudyIndividualPage .content_wrapper table th {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #003323;
}
.CaseStudyIndividualPage .content_wrapper table th {
  border-right: 1px solid #003323 !important;
}
.CaseStudyIndividualPage .content_wrapper table th table td {
  font-size: 14px;
  padding: 14px;
  vertical-align: top !important;
}
.CaseStudyIndividualPage .content_wrapper table th table th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #003323;
  border-right: 1px solid #000 !important;
}
@media (max-width: 767px) {
  .CaseStudyIndividualPage .content_wrapper table {
    display: block;
    width: 100%;
  }
  .CaseStudyIndividualPage .content_wrapper .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .CaseStudyIndividualPage .content_wrapper table thead,
  .CaseStudyIndividualPage .content_wrapper table tbody,
  .CaseStudyIndividualPage .content_wrapper table thead th {
    display: block;
  }
  .CaseStudyIndividualPage .content_wrapper table thead th:last-child {
    border-bottom: none;
  }
  .CaseStudyIndividualPage .content_wrapper table thead {
    float: left;
  }
  .CaseStudyIndividualPage .content_wrapper table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .CaseStudyIndividualPage .content_wrapper table td,
  .CaseStudyIndividualPage .content_wrapper table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .CaseStudyIndividualPage .content_wrapper table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .CaseStudyIndividualPage .content_wrapper table tbody tr {
    display: table-cell;
  }
  .CaseStudyIndividualPage .content_wrapper table tbody tr:nth-child(odd) {
    background: none;
  }
  .CaseStudyIndividualPage .content_wrapper table tr:nth-child(even) {
    background: transparent;
  }
  .CaseStudyIndividualPage .content_wrapper table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .CaseStudyIndividualPage .content_wrapper table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .CaseStudyIndividualPage .content_wrapper table tbody td {
    display: block;
  }
}