@use "../../../partials/globals";

.HeroSection {
  .container {
    .flex {
      .left-col {
        width: 60%;
        h1 {
         @include globals.h1_style;
        }

        .primary_btn{
            margin-top: 30px;
        }

        span{
            color: globals.$secondary_color;
        }
        
      }

      
    }
  }
}
