@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


$primary_color:#315046;
$secondary_color:#F6F6F6;





@mixin container_padding {
  padding: 90px 100px;

  @media all and (min-width: 2000px) {
    max-width: 85%;
    margin: 0 auto;
  }

  @media all and (max-width: 1200px) {
    padding: 80px 80px;
  }

  @media all and (max-width: 992px) {
    padding: 80px 50px;
  }

  @media all and (max-width: 768px) {
    padding: 80px 32px;
  }

  @media all and (max-width: 576px) {
    padding: 50px 14px;

  }
}



@mixin OpenSans400{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@mixin OpenSans500{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
@mixin OpenSans600{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
@mixin OpenSans700{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
@mixin OpenSans800{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
@mixin OpenSans900{
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

