@use "../../../partials/globals";
.Navbar {
  .container {
    background-color: globals.$primary_color;
    .flex {
      padding: 12px 0;
      .nav-link {
        display: flex;
        align-items: center;
        ul {
          li {
            padding: 0 24px;
            a{
                font-family: 500;
                @include globals.Poppins400;
            }
          }
        }

        .outline-btn{
            display: inline-block;
            border: 1px solid white;
            color: white;
            padding: 14px;
            margin-right: 26px;
            border-radius: 30px;
        }
      }
    }
  }
}
